.home{
    background-color: var(--color-azul-oscuro);
}
.home ul li{
    list-style: none;
}
.home a{
    text-decoration: none;
    color: var(--color-blanco);
}   

/* MAIN */

.home .banner .banner-img{
    width: 94%;
    margin: 3%;
    position: relative;
    filter:brightness(0.4);
}
.home .texto-encima{
    position: absolute;
    top: 13vh;
    left: 0vw;
    color: var(--color-blanco);
    font-size: 4.5vw;
    text-align: center;
    padding: 0px 17px;
    line-height: 3.3vh;
}
.home .texto-encima2{
    position: absolute;
    top: 21vh;
    left: 0vw;
    color: var(--color-blanco);
    font-size: 4.5vw;
    text-align: center;
    padding: 0px 34px;
    line-height: 3.3vh;
    margin: 1vh 0;
}
.home .banner h3{
    position: absolute;
    top: 30vh;
    left: 11%;
    color: var(--color-blanco);
    font-size: 5.5vw;
    text-align: center;
    margin: 2vh 0;
}
.home section{
    display: flex;
    align-items: center;
    margin-top: 5vw;
    width: 94%;
    margin: 3%;
}
.home .cine-container{
    position: relative;
}
.home .cine{
    width: 50vw;
    height: 35vh;
    background-image: url('../images/Cine.webp');
    filter: brightness(0.6);
    background-size: cover;
    background-position: center;
}

.home article .btn-cine{
    position: absolute;
    top: 12vh;
    left: 18vw;
    border: solid 1px var(--color-celeste);
    background-color: rgba(0, 0, 0, .5);
    font-size: 5vw;
    padding: 0 3vw;
}
.home .bar-container{
    position: relative;
}
.home .bar{
    width: 44.5vw;
    height: 35vh;
    background-image: url('../images/Bar.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    margin-left: 2.5px;
}

.home article .btn-bar{
    position: absolute;
    top: 12vh;
    left: 18vw;
    border: solid 1px var(--color-celeste);
    background-color: rgba(0, 0, 0, .5);
    font-size: 5vw;
    padding: 0 3vw;
}

@media (min-width: 768px) {
    .home .texto-encima{
        top: 20vh;
        font-size: 5vw;
        padding: 0 27px;
        line-height: 1;
    }
    .home .texto-encima2{
        top: 31vh;
        font-size: 5vw;
        padding: 0 45px;
        line-height: 1;
    }
    .home .banner h3{
        top: 42vh;
        font-size: 4vh;
        right: 7vw;
    }
    .home .banner .banner-img{
        width: 92%;
        margin-left: 4vw;
    }
    .home section{
        justify-content: space-evenly;
    }
    .home .cine{
        width: 45.2vw;
        height: 29vh;
        
    }
    .home article .btn-cine{
        top: 10vh;
        left: 15vw;
    }
    .home .bar{
        height: 29vh;
        width: 46.2vw;
    }
    .home article .btn-bar{
        top: 10vh;
        left: 20vw;
    }
}
@media (min-width:1024px) {
    
    .home header{
        padding-top: 1vh;
        align-items: baseline;
        height: 9vh;
    }
    .home header h2{
        font-size: 2vw;
        margin: 0;
        margin-left: 3.7vw;
    }
    .home header .shopping-basket{
        font-size: 4vw;
        margin: 0;
        margin-left: 4vw;
    }
    .home header .shopping-basket i{
        margin: 0;
        font-size: 3vw;
    }
    .home header .burger-menu{
        display: none;
    }
    .home header .nav-user,
    .home header .nav-bar{
        display: initial;
    }
    .home .nav-bar{
    }
    .home .nav-bar ul{
        display: flex;
        margin-left: 10vh;
    }
    .home .nav-bar li{
        margin-right: 2vw;
        font-weight: 700;
    }
    .home .nav-user{

    }
    .home header .nav-user ul{
        display: flex;
        width: 19vw;
    }
    .home .nav-user li{
        border-right: solid 1px var(--color-blanco);
    }
    .home .nav-user li:last-child{
        border-right: none;
    }
    .home header .shopping-basket{
        margin-left: 0;
    }
}