.register{
    position:relative;
    background-color:var(--color-gris);
    text-align:center;
    width:100%;
    height:120vh;
}
.register header{
    background-color:var(--color-azul-oscuro);
}
.register header .nav-bar, .nav-user, .shopping-basket-mobile-tablet, .burger-menu{
    display:none;
}
.register header .nav-user ul{
    display:none;
}
.register header h2{
    margin-top:2vh;
}
.register main h1{
    color:var(--color-azul-oscuro);
    font-size:15vw;
    text-align:center;
    margin:30px;
}
.register main .dibujo{
    margin: 40px 5% 40px 5%;
    width: 90%;
    height: 158px;
    background-image:url("/images/dibujo.png");
    background-size:contain;
}
.register main p{
    margin-top:30px;
    margin-bottom:60px;
    color:var(--color-azul-oscuro);
    font-size:9vw;
}
.register main .dato{
    display:inline-block;
    width:90%;
    font-size:4vw;
    padding:8px;
    margin-bottom:20px;
    background-color:var(--color-celeste);
    color:var(--color-blanco);
    border-radius:5%;
}
.register main label{
    display:inline-block;
    color:var(--azul-oscuro);
    font-size:4vw;
    padding-left:15px;
    padding-right:15px;
}
.register main a{
    display:inline-block;
    margin:10px;
    color:var(--color-blanco);
    width:90%;
    text-align:center;
}
.register main button{
    background-color:var(--color-azul-oscuro);
    color:var(--color-blanco);
    font-size:10vw;
    padding:10px;
    margin-bottom:50px;
    border:solid 1px var(--color-azul-oscuro);
    margin-top:15px;
    border-radius:5%;
}
.register footer a{
    color:var(--color-blanco);
}

@media(min-width:768px){
    .register header h2{
        margin-top:1.5vh;
    }
    .register main h1{
        font-size:7vw;
    }
    .register main p{
        font-size:3vw;
    }
    .register main .contenedor{
        display:flex;
        width:90vw;
        margin-left:5vw;
        justify-content:center;
    }
    .register main .portada{
        width:40%;
    }
    .register main .formulario{
        width:60%;
    }
    .register main .dibujo{
        margin-top:0;
    }
    .register main .dato{
        font-size:2vw;
    }
    .register main label{
        font-size:1.5vw;
    }
    .register main button{
        font-size:4vw;
    }
}
@media(min-width:1024px){
    .register header h2{
        margin-top:1vh;
    }
    .register main .contenedor{
        width:70vw;
        margin:0 auto;
    }
    .register main .portada{
        width:50%;
    }
    .register main .formulario{
        width:50%;
    }
    .register main h1{
        font-size:5vw;
    }
}