<footer>

    <nav class="nav-footer">
        <h5>Seguinos :</h5>
        <ul>
            <li><a href="http://instagram.com"><i class="fab fa-instagram"></i></a></li>
            <li><a href="http://facebook.com"><i class="fab fa-facebook"></i></a></li>
            <li><a href="http://twitter.com"><i class="fab fa-twitter"></i></a></li>
        </ul>
    </nav>
    <div class="news-div">
        <form action="/" method="POST" novalidate>
            <label for="letter">
                Enterate de las novedades</label>
            <div class="input-div"></div>
            <input type="email" placeholder="Dejanos tu email" name="letter" id="letter" value="<%= locals.old && old.letter ? old.letter : null%>">
            <button type="submit">Suscribite</button>
            <% if (locals.errors && errors.letter) { %>
                <p class="aviso"><%= errors.letter.msg %> </p>
              <% } %>
    </div>
    </form>

    </div>
    <h4>Copyright © 2021 - Todos los derechos reservados</h4>
</footer>