<header>
    <a class="title-header" href="/">
        <h2>
            Home experience
        </h2>
    </a>
    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="burgermenu"><i class="fas fa-bars"></i></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul id="navhome" class="navbar-nav mr-auto ">
                <li class="nav-item active">
                    <a class="nav-link" href="/experiencia">Experiencias <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/nosotros">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contacto">Contacto<span class="sr-only">(current)</span></a>
                </li>
            </ul>

            <ul id="navuser" class="navbar-nav mr-auto">
                
                <% if (locals.user) { %>
                    <% if (locals.user.idRol == 1 || locals.user.idRol == 2) { %>
                        <li class="addProduct">
                            <span> <a class="nav-link" href="/admin/productos">ADMIN</a> </span>
                        </li>
                    <% } %>
                    
                    
                    <li class="nav-item active" id="user-loged-mobile">
                        <span>
                            </i><a class="nav-link" href="/usuarios/perfil/<%= locals.user.id%> "><i class="far fa-user-circle"> </i><%= locals.user.name %> </a>
                        </span>
                    </li>

                    <li class="nav-item active" id="user-logOut">
                        <span style="color: white">
                            <a class="nav-link" href="/usuarios/cerrar-sesion">Cerrar sesión</a>
                        </span>
                    </li>
    
                    
                    <li class="user-loged">
                        <span><i class="far fa-user-circle"></i>
                            <p id="user-logued"><%= locals.user.name %> </p>
                        </span>
                        <div class="btn-group">
                            <button type="button" class="btn shadow-none dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
    
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/usuarios/perfil/<%= locals.user.id%> ">Perfil</a></li>
                               
                                <li class="divider"></li>
                                <li class="logout"><a href="/usuarios/cerrar-sesion">Cerrar sesión</a></li>
                            </ul>
                        </div>
                    </li>
                <% }else{ %>
                    <li class="nav-item active" id="login">
                        <a class="nav-link" href="/usuarios/iniciar-sesion">Iniciar sesión<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active" id="register">
                        <a class="nav-link" href="/usuarios/registro">Registro<span class="sr-only">(current)</span></a>
                    </li>
                    <% } %> 
                
                <li class="nav-item active cart">
                    <a href="/productos/carrito" class="nav-link shopping-basket-desktop"><i class="fas fa-shopping-basket"></i></a>
                </li>
            </ul>
        </div>
    </nav>
    <a href="/productos/carrito" class="nav-link shopping-basket-mobile-tablet"><i class="fas fa-shopping-basket"></i></a>


</header>