<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head')  %> 
<body class="about">
    <%- include('./partials/header')  %> 

    <main class="cuerpo">
        

         <img src="/images/Cine_familiar.jpg" alt="cineEnCasa" class="imagen"> 
        <h2 class="tituloPrincipal"><b>HOME EXPERIENCE ® 2021</b></h3> 
        <p class="texto">Llevando experiencias a la comodidad y seguridad de tu hogar</p>

          <h3 class="tituloSecundario">Nuestros desarrolladores:</h2>
        <div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Alexis Zacre ▼
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <img class="imagenesPerfil1" src="/images/fotoAlexis.jpg" alt="fotoAlexis">
        <p class="textoAcordeon">19 años. Aficionado por la tecnología y los juegos de computadora. Desarrollador web full stack.</p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Marcia Del Castillo ▼
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <img class="imagenesPerfil1" src="/images/FotoMarcia.jpg" alt="fotoMarcia">
        <p class="textoAcordeon">31 años. Apasionado por los algoritmos y la lógica de los sistemas. Caracterizada por evaluar las situaciones desde una perspectiva integral, hallando así soluciones prácticas y eficientes.</p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Octavio Fitz Maurice ▼
        </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <img class="imagenesPerfil" src="/images/fotoOctavio.jpg" alt="fotoOctavio">
        <p class="textoAcordeon">28 años. Trabaja en soporte técnico en sistemas. Fotógrafo aficionado. Desarrollador web full stack.<p>
      </div>
    </div>
  </div>
</div>
    
    </main>
    <%- include('./partials/footer')  %> 
    <%- include('./partials/scripts')  %> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>