<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head')  %> 
<body class="about">
    <%- include('./partials/header')  %> 

    <main class="cuerpo">
        
        <h1 class="titulo">¿Quiénes somos?</h1>
    
         <img src="/images/Cine_familiar.jpg" alt="cineEnCasa" class="imagen">
     
        <p>Somos una empresa que nace atendiendo una necesidad. Debido a acontecimientos sanitarios de carácter público, nos hemos visto privados de vivir experiencias fuera de nuestras casas. Por ello surge <b>HOME EXPERIENCE</b>, con la intención de llevar esas experiencias a la comodidad y seguridad de nuestros hogares.</p>
    
    </main>
    <%- include('./partials/footer')  %> 
    <%- include('./partials/scripts')  %> 

</body>
</html>