<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/bd438a186b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body class="contact">
    <header>
        <a href="/"><h2>HOME EXPERIENCE</h2></a>
        <nav class="navbar navbar-expand-lg navbar-light bg-light ">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="burgermenu"><i class="fas fa-bars"></i></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul id="navhome" class="navbar-nav mr-auto ">
                <li class="nav-item active">
                  <a class="nav-link" href="/experience">Experiencias <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about">Nosotros</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/contact">Contacto<span class="sr-only">(current)</span></a>
                </li>
              </ul>
              
              <ul id="navuser" class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="/login">Iniciar sesión<span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item active" id="register">
                    <a class="nav-link" href="/register">Registro<span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item active">
                    <a href="/productCart" class="nav-link shopping-basket-desktop"><i class="fas fa-shopping-basket"></i></a>
                  </li>
              </ul>
            </div>
          </nav>
          <a href="/productCart" class="nav-link shopping-basket-mobile-tablet"><i class="fas fa-shopping-basket"></i></a>
       

    </header>
    <main>
        <div class="location">
        <h2>¿Donde encontrarnos?</h2>
        <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3023.1095394044587!2d-73.99134698467617!3d40.737615143985074!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259a22241efc3%3A0x47fed87e18b07624!2sOld%20Town%20Bar!5e0!3m2!1ses!2sar!4v1625470135098!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>

        <p><i class="fas fa-map-marker-alt"></i> Palermo Hollywood 2734 <i class="fas fa-link"></i></p>
        <p><i class="fas fa-phone"></i> +206 1122334455 <i class="fas fa-link"></i></p>
        </div>
        
        <div class="social-media">
            <h2>Tambien podes contactarnos mediante nuestras redes</h2>
            <p><i class="fab fa-instagram"></i> <a href="#">https://instagram.com</a></p>
            <p><i class="fab fa-facebook"></i> <a href="#">https://facebook.com</a></p>
            <p><i class="fab fa-twitter"></i> <a href="#">https://twitter.com</a></p>
            <p><i class="fab fa-whatsapp"></i> <a href="#">+206 1122334455</a></p>
        </div>

        <div class="contact-news-letter">
            <h2>Suscribiendote a nuestro NewsLetter obtendras las ultimas actualizaciones y ofertas exclusivas!</h2>
            <form action="">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="Dejanos tu E-mail">
                    
                    <span></span>
                  </div>

                  <div class="form-group">
                    <label for="exampleFormControlTextarea1"></label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Dejanos tu comentario"></textarea>
                  </div>

                  <button type="submit">Suscribirse</button>
            </form>
        </div>
        
    </main>
    <footer>
        
        <nav class="nav-footer">
            <h5>Seguinos :</h5>
            <ul>
                <li><a href="http://instagram.com"><i class="fab fa-instagram"></i></a></li>
                <li><a href="http://facebook.com"><i class="fab fa-facebook"></i></a></li>
                <li><a href="http://twitter.com"><i class="fab fa-twitter"></i></a></li>
            </ul>
        </nav>
        <div class="news-div">
            <form action="#" method="POST">
                <label for="emailUsuario">
                Enterate de las novedades</label>
                <div class="input-div"></div>
                    <input type="email" placeholder="Dejanos tu email" name="emailUsuario" id="emailUsuario" required>
                    <span></span>
                    <button type="submit">Suscribite</button>
                </div>
            </form>
            
        </div>
        <h4>Copyright © 2021 - Todos los derechos reservados</h4>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>