|<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head")%>
</head>
<body class="experience">
    <header>
        <%- include("./partials/header")%>
    </header>
    <main>
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="8000">
                <img src="/images/cocteleria-carrusel2.jpg" class="d-block w-100" alt="carrusel3">
              </div>
              <div class="carousel-item" data-bs-interval="8000">
                <img src="/images/cine-carrusel2.jpg" class="d-block w-100" alt="carrusel2">
              </div>
              <div class="carousel-item" data-bs-interval="8000">
                <img src="/images/cocteleria-carrusel.jpg" class="d-block w-100" alt="carrusel1">
              </div>
              <div class="carousel-item" data-bs-interval="8000">
                <img src="/images/cine-carrusel3.jpg" class="d-block w-100" alt="carrusel1">
              </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </button>
          </div>

        <b><h2 class="titulo">Experiencias</h2></b>
          <p>Ofrecemos regalos originales a través de experiencias y momentos inolvidables. Todas nuestras cajas regalo están repletas de emoción.
            En un mundo en el que todos corremos detrás del tiempo, vivir experiencias en lugar de obsequiar bienes materiales parece más que nunca la mejor elección.
            </p>

            <p>Contamos con dos categorías temáticas: <a href="/productos/bar">BAR</a> y <a href="/productos/cine">CINE</a> </p>

            <p>Te invitamos a ser parte de esta nueva forma de regalar porque las cosas lindas se pueden estropear, pero los momentos bien vividos no tienen fecha de caducidad.</p>

    </main>
    <footer>
        <%- include("./partials/footer") %>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <%- include("./partials/scripts")%>

</body>
</html>