<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head')  %> 
<body class="login">
    <%- include('./partials/header') %> 
    
    <main class="cuerpo">
        <h1>¡Iniciá Sesión!</h1>
        
        <form action="">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" name="email">
                <label for="floatingInput" class="datosformulario">Email</label>
                <span></span>
              </div>
              <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" name="contraseña">
                <label for="floatingPassword" class="datosformulario">Clave</label>
                <span></span>

                <div class="conectado">
                    <input type="checkbox" name="Conectado" value="Conectado" id="Conectado">
                    <label for="Manteme">Manteneme conectado</label>
              </div>
        </form>

        <a href="" class="recuperarpassword">¿Olvidaste tu contraseña?</a>
        <h3 class="boton">ingresá</h3>
        <a href="/register" class="creacuenta">¿No tenés cuenta? ¡Creá una ahora!</a>

    </main>
    <%- include('./partials/footer')  %> 
    <%- include('./partials/scripts')  %> 
    </body>
</html>