<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head')  %> 

<body class="productCart">
   
    <%- include('./partials/header') %> 

    <main>
        
        <h1>Carrito de compras</h1>

        <div class="titulos">
            <h3 class="articuloh3">1 Artículo</h3>
            <h3 class="resumenh3">Resumen de la compra</h3>
        </div>
        <div class="body">


            <div class="flextabletdesktop">  
            <div class="producto">
                <div class="imagenproducto">
                    <img src="/images/ProductoCarrito2.png" alt="" class="imgproducto">
                </div>
                <div class="detallescompra">
                    <p>Experiencia Ruta Licia</p>
                    <p class="precio">$7000</p>
                    <p>Categoría: Bar</p>
                    <p>ID del Producto 10893</p>
                    <ul>                      
                         <a href=""><li>Editar</a></li>
                         <a href=""><li>Eliminar</li></a>
                    </ul>
                </div>
            </article>
        </div>
        

            <article class="resumen">
                <h3 class="resumenmobile">Resumen de la compra</h3>

                <div class="divtabletydesktop">
                <form action="">
                    <input type="tel" name="codigodescuentp" id="" placeholder="   Código de descuento" class="barracodigo">
                </form>
            

                <div class="nombreyprecio">
                    <p class="nombreproducto">1x Experiencia Ruta Liciaㅤ</p>
                    <p class="preciovino">$7000</p>
                </div>

                <div class="enviodiv">
                    <p class="envio">Envío</p>
                    <p class="precioenvio">$500</p>
                </div>

                <div class="subtotal">
                    <p class="subtotalpalabra">subtotal</p>
                    <p class="preciosubtotal">$7500</p>
                </div>

                <div class="total">
                    <p class="totalpalabra">total</p>
                    <p class="preciototal">$7500</p>
                </div>
                
                <div class="divcheckout">
                <h2 class="checkout">Proceder al CHECKOUT</h2>
            </div>
            
            </div>
        
            </article>

        </div>
    </main>

    <%- include('./partials/footer')  %> 
    
    <%- include('./partials/scripts')  %> 
</body>
</html>