<!DOCTYPE html>
<html lang="es">
    <%- include("./partials/head")%>
<body class="productDetail">
    <%- include("./partials/header")%>
    <main>
    <div class="contenedor1">
        <div class="caja1">
            <div class="imagen"></div>
        </div>
        <div class="caja2">
            <h1>BIG BOX - EXPERIENCIA CUBA</h1>
            <P class="precio">$4000</P>
            <P class="cuotas">o 6 cuotas de $666.66</P>
            <button>AGREGAR AL CARRITO</button>
        </div>
    </div>
        <section>
            <div class="contenedor2">
                <div class="opciones"><a href="" class="exp"><h2>Experiencia</h2></a></div>
                <div class="opciones"><a href="" class="cont"><h2>Contenido de la caja</h2></a></div>
            </div>
            <article class="experiencia">
                <p>
                    La gama de cócteles autóctonos de Cuba es muy amplia. Siempre mezclados con el indispensable ron en sus variantes blancos u oscuros de distintas edades de conservación y añejamiento.
                    En esta BOX encontrarás lo necesario para disfrutar de uno de los tragos cubanos por excelencia: el MOJITO.
                    Elegí la BOX CUBA y disfrutá de una experiencia inolvidable 
                    </p>
            </article>
            <article class="contenido">
                <p>Los insumos necesarios para explorar distintas formas de beber un buen MOJITO, se pueden difrutar hasta 12 cócteles. </p>
                <ul>
                    <li>Botella Bacardí Carta Blanca 980ml.</li>
                    <li>3 (tres) latas de agua con gas Perrier.</li>
                    <li>Lima, hierba buena y azúcar.</li>
                    <li>Set de coctelería.</li>
                    <li>2 (dos) vasos Mojito.</li>
                    <li>Set chocolates Kit Kat.</li>
                </ul>
            </article>
        </section>
    </main>
    <%- include("./partials/footer")%>
    <%- include("./partials/scripts")%>
</body>
</html>