<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("./partials/head") %>
</head>

<body class="profile">
    <header>
        <%- include("./partials/header") %>
    </header>
    <main class="contenedor">
        <section>
            <img src="/images/default-profile.png" alt="imgdefault" class="imgprofile">
        </section>

        <div class="contenedorInputs">
            <section>
                <form action="" method="POST">
                    <div class="form-floating mb-3">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" id="floatingInput" name="nombre">
                    </div>

                    <div class="form-floating mb-3">
                        <label for="email">Correo electrónico</label>
                        <input type="email" class="form-control" id="floatingInput" name="email" disabled>
                    </div>

                    <div class="form-floating">
                        <label for="password">Contraseña</label>
                        <input type="password" class="form-control" id="floatingPassword" name="password">
                    </div>

                    <div class="form-floating">
                        <label for="edad">Edad</label>
                        <input type="number" class="form-control" id="floatingInput" name="edad">
                    </div>

                    <div class="form-floating mb-3">
                        <label for="imagenPerfil">Elegir foto de perfil</label>
                        <input class="input-file" type="file" name="imagenPerfil">
                    </div>

                    <div class="boton-guardar">
                        <button type="button" class="btn btn-primary btn-dark">GUARDAR CAMBIOS</button>
                    </div>
        </div>
        </form>


        </section>
    </main>

    <footer>
        <%- include("./partials/footer") %>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>

    <%- include("./partials/scripts") %>
</body>

</html>