<!DOCTYPE html>
<html lang="es">
<%- include("./partials/head")%>
<body class="register">
  <%- include("./partials/header")%>
    <main>
        <h1>¡Creá tu cuenta!</h1>
        <div class="contenedor">
            <div class="portada">
                <div class="dibujo"></div>
                <p>¿No tenés cuenta? Registrate y descubrí Home Experience</p>
            </div>
            <div class="formulario">
                <form action="" method="">
                    <input class="dato" type="text" name="nombre" id="nombre" placeholder="Nombre" required>
                    <span></span>
                    <input class="dato" type="email" name="email" id="email" placeholder="Email" required>
                    <span></span>
                    <input class="dato" type="password" name="password" id="password" placeholder="Clave" required>
                    <span></span>
                    <input class="dato" type="password" name="password2" id="password2" placeholder="Confirma tu clave" required>
                    <span></span>
                    <label>
                        <input class="check" type="checkbox">Acepto los términos y políticas de este sitio web
                    </label>
                    <a href="./login">¿Ya tenés cuenta? ¡Iniciá sesión!</a>
                    <button type="submit">REGISTRATE</button>
                </form>
            </div>
        </div>
    </main>
    <%- include("./partials/footer")%>
    <%- include("./partials/scripts")%>
</body>
</html>