<!DOCTYPE html>
<html lang="es">
  <%- include("partials/head",{title:"search"} ) %>

  <body class="admin">
    <style>
      .admin main {
        margin-bottom: 10vh;
      }
      .admin footer {
        position: fixed;
      }
      .admin h2 {
        text-align: center;
        margin-top: 3vh;
      }
    </style>

    <%- include("partials/header" ) %>
    <main>
      <div class="headerAdmin">
        <div
          class="search-form"
          id="formSearch"
        >
        <button type="submit" id="btnSearch"><i class="fas fa-search"></i></button>
          <input
            class="search"
            type="text"
            id="search"
            name="searchProducts"
            placeholder="Buscar productos..."
          />
        </div>
        <a href="/admin/producto/agregar"
          ><i class="fas fa-plus"></i> Agregar producto</a
        >
        <h2 id="resultSearch"></h2>
        <h2 id="noResult"></h2>
      </div>

      <article id="product-container"></article>
    </main>

    <script>
      function EventoAlert() {
        event.preventDefault();
        var form = event.target.form;
        Swal.fire({
          title: "¿Está seguro que desea eliminar el producto?",
          html: `<p class="text-white" >¡Esta acción será irreversible! </p>`,
          color: "white",
          background: "#040F16",
          backdrop: "rgba(4, 15, 22, 0.6)",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#B80C09",
          cancelButtonColor: "#01BAEF",
          confirmButtonText: "ELIMINAR",
          customClass: {
            popup: "popup-class",
            title: "content-class",
            confirmButton: "confirmButton",
            cancelButton: "cancelButton",
          },
        }).then((result) => {
          if (result.isConfirmed) {
            form.submit();
          }
        });
      }
    </script>

    <%- include("partials/footer" ) %> <%- include("partials/scripts" ) %>
    <script src="/js/searchAdmin.js"></script>
  </body>
</html>
