<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bar</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/bd438a186b.js" crossorigin="anonymous"></script>
</head>
<body class="bar">
    <header>
        <a href="/"><h2>HOME EXPERIENCE</h2></a>
        
        <nav class="nav-bar">
            <ul>
                <li><a href="#">Experiencias</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>

        <nav class="nav-user">
            <ul>
                <li class="user"><a href="/login">Iniciar sesión</a></li>
                <li class="user" id="li-register"><a href="/register"> Registrarse</a></li>
                <li class="user-loged"><i class="fas fa-user"></i><p>usuario</p> <button><i class="fas fa-chevron-down"></i></button></li>
                <li><a class="shopping-basket" href="/productCart"><i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        
        <a class="shopping-basket-mobile-tablet" href="/productCart"><i class="fas fa-shopping-basket"></i></a>
        <a class="burger-menu" href="#"><i class="fas fa-bars"></i></a>
       

    </header>


    <main>
        <div class="banner">
            <img src="/images/primavera-en-japon-consejos.jpg" alt="">
            <div class="background-letter">
            </div>
            <div class="texto-encima"><p>Disfrutá de las mejores experiencias en
                coctelería. En nuestras Boxes encontrarás
                lo necesario para disfrutar la experiencia
                de estar en un bar en cualquier parte del
                mundo, pero en la comodidad de tu hogar.</p>
                <h3>REGALÁ EXPERIENCIAS. REGALÁ VIDA</h3>
            </div>
        </div>

            <section>
                <article class="product">
                    <div>
                        <a href="/productDetail"><img src="/images/productobar2.png" alt=""></a>
                    </div>
                    <div class="product-info">
                        <h3>Experiencia Ruta Licia</h3>
                        <div class="product-details">
                            <span class="product-price">$7.000</span>
                            <form action="#" method="POST">
                            <span><button class="btn-cart" type="submit">Añadir al carrito</button> </span>
                            </form>
                        </div>
                    </div>
                </article>

                <article class="product">
                    <div>
                        <a href="/productDetail"><img src="/images/productobar2.png" alt=""></a>
                    </div>
                    <div class="product-info">
                        <h3>Experiencia Ruta Licia</h3>
                        <div class="product-details">
                            <span class="product-price">$7.000</span>
                            <form action="#" method="POST">
                            <span><button class="btn-cart" type="submit">Añadir al carrito</button> </span>
                            </form>
                        </div>
                    </div>
                </article>

                <article class="product">
                    <div>
                        <a href="/productDetail"><img src="/images/productobar2.png" alt=""></a>
                    </div>
                    <div class="product-info">
                        <h3>Experiencia Ruta Licia</h3>
                        <div class="product-details">
                            <span class="product-price">$7.000</span>
                            <form action="#" method="POST">
                            <span><button class="btn-cart" type="submit">Añadir al carrito</button> </span>
                            </form>
                        </div>
                    </div>
                </article>

                <article class="product">
                    <div>
                        <a href="/productDetail"><img src="/images/productobar2.png" alt=""></a>
                    </div>
                    <div class="product-info">
                        <h3>Experiencia Ruta Licia</h3>
                        <div class="product-details">
                            <span class="product-price">$7.000</span>
                            <form action="#" method="POST">
                            <span><button class="btn-cart" type="submit">Añadir al carrito</button> </span>
                            </form>
                        </div>
                    </div>
                </article>
            </section>
    
    </main>

    <footer>
        
        <nav class="nav-footer">
            <h5>Seguinos :</h5>
            <ul>
                <li><a href="http://instagram.com"><i class="fab fa-instagram"></i></a></li>
                <li><a href="http://facebook.com"><i class="fab fa-facebook"></i></a></li>
                <li><a href="http://twitter.com"><i class="fab fa-twitter"></i></a></li>
            </ul>
        </nav>
        <div class="news-div">
            <form action="#" method="POST">
                <label for="emailUsuario">
                Enterate de las novedades</label>
                <div class="input-div"></div>
                    <input type="email" placeholder="Dejanos tu email" name="emailUsuario" id="emailUsuario" required>
                    <span></span>
                    <button type="submit">Suscribite</button>
                </div>
            </form>
            
        </div>
        <h4>Copyright © 2021 - Todos los derechos reservados</h4>
    </footer>
</body>
</html>