<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Experience</title>
    <script src="https://kit.fontawesome.com/bd438a186b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body class="home">
    <header>
        <a href="#"><h2>HOME EXPERIENCE</h2></a>
        <a class="shopping-basket" href="#"><i class="fas fa-shopping-basket"></i></a>
        <a class="burger-menu" href="#"><i class="fas fa-bars"></i></a>
       
        <nav class="nav-user">
            <ul>
                <li><a href="#">Iniciar sesión</a></li>
                <li><a href="#">Registrarse</a></li>
            </ul>
        </nav>
        <nav class="nav-bar">
            <ul>
                <li><a href="#">Experiencias</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="banner">
            <img class="banner-img" src="images/Tokyo.jpg" alt="">
            <div class="texto-encima">Disfrutá la experienca de ir a un cine o a tu bar preferido ¡Ahora desde la comodidad de tu casa!</div>>
            <div class="texto-encima2">Podrás elegir entre nuestras diferentes BOXES. Cada una incluye una experienca emocionante.</div>
            <h3>Regalá experiencias. Regalá vida.</h3>
        </div>
    <section>
        <article class="cine-container">
            <div class="cine">
            </div>
            <a class="btn-cine" href="#">Cine</a>
        </article>

        <article class="bar-container">
            <div class="bar">
            </div>
        
            <a class="btn-bar" href="#">Bar</a>
        </article>
    </section>
    </main>
    <footer>
        
        <nav class="nav-footer">
            <h5>Seguinos</h5>
            <ul>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            </ul>
        </nav>
        <h4>Copyright © 2021 - Todos los derechos reservados</h5>
    </footer>
</body>
</html>