<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/styles.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b29d4baab6.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <header>
        <a href="#"><h2>HOME EXPERIENCE</h2></a>
        <a class="shopping-basket" href="#"><i class="fas fa-shopping-basket"></i></a>
        <a class="burger-menu" href="#"><i class="fas fa-bars"></i></a>
       
        <nav class="nav-user">
            <ul>
                <li><a href="#">Iniciar sesión</a></li>
                <li><a href="#">Registrarse</a></li>
            </ul>
        </nav>
        <nav class="nav-bar">
            <ul>
                <li><a href="#">Experiencias</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <h1>Hola mundo</h1>
</body>
</html>