<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/styles.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b29d4baab6.js" crossorigin="anonymous"></script>
    <title>Detalle de producto</title>
</head>
<body class="productDetail">
    <header>
        <a href="#"><h2>HOME EXPERIENCE</h2></a>
        <nav class="nav-bar">
            <ul>
                <li><a href="#">Experiencias</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>

        <nav class="nav-user">
            <ul>
                <li class="user"><a href="#">Iniciar sesión</a></li>
                <li class="user" id="li-register"><a href="#"> Registrarse</a></li>
                <li class="user-loged"><i class="fas fa-user"></i><p>usuario</p> <button><i class="fas fa-chevron-down"></i></button></li>
                <li><a class="shopping-basket" href="#"><i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <a class="shopping-basket-mobile-tablet" href="#"><i class="fas fa-shopping-basket"></i></a>
        <a class="burger-menu" href="#"><i class="fas fa-bars"></i></a>
       

    </header>
    <main>
    <div class="contenedor1">
        <div class="caja1">
            <div class="imagen"></div>
        </div>
        <div class="caja2">
            <h1>BIG BOX - EXPERIENCIA CUBA</h1>
            <P class="precio">$4000</P>
            <P class="cuotas">o 6 cuotas de $666.66</P>
            <button>AGREGAR AL CARRITO</button>
        </div>
    </div>
        <section>
            <div class="contenedor2">
                <div class="opciones"><a href="" class="exp"><h2>Experiencia</h2></a></div>
                <div class="opciones"><a href="" class="cont"><h2>Contenido de la caja</h2></a></div>
            </div>
            <article class="experiencia">
                <p>
                    La gama de cócteles autóctonos de Cuba es muy amplia. Siempre mezclados con el indispensable ron en sus variantes blancos u oscuros de distintas edades de conservación y añejamiento.
                    En esta BOX encontrarás lo necesario para disfrutar de uno de los tragos cubanos por excelencia: el MOJITO.
                    Elegí la BOX CUBA y disfrutá de una experiencia inolvidable 
                    </p>
            </article>
            <article class="contenido">
                <p>Los insumos necesarios para explorar distintas formas de beber un buen MOJITO, se pueden difrutar hasta 12 cócteles. </p>
                <ul>
                    <li>Botella Bacardí Carta Blanca 980ml.</li>
                    <li>3 (tres) latas de agua con gas Perrier.</li>
                    <li>Lima, hierba buena y azúcar.</li>
                    <li>Set de coctelería.</li>
                    <li>2 (dos) vasos Mojito.</li>
                    <li>Set chocolates Kit Kat.</li>
                </ul>
            </article>
        </section>
    </main>
    <footer>
        
        <nav class="nav-footer">
            <h5>Seguinos :</h5>
            <ul>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            </ul>
        </nav>
        <div class="news-div">
            <form action="#" method="">
                <label for="emailUsuario">
                Enterate de las novedades</label>
                <div class="input-div"></div>
                    <input type="email" placeholder="Dejanos tu email" name="emailUsuario" id="emailUsuario" required>
                    <span></span>
                    <button type="submit">Suscribite</button>
                </div>
            </form>
            
        </div>
        <h4>Copyright © 2021 - Todos los derechos reservados</h4>
    </footer>
</body>
</html>