<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/styles.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b29d4baab6.js" crossorigin="anonymous"></script>
    <title>Detalle de producto</title>
</head>
<body>
    <header>
        <a href="#"><h2>HOME EXPERIENCE</h2></a>
        <a class="shopping-basket" href="#"><i class="fas fa-shopping-basket"></i></a>
        <a class="burger-menu" href="#"><i class="fas fa-bars"></i></a>
       
        <nav class="nav-user">
            <ul>
                <li><a href="#">Iniciar sesión</a></li>
                <li><a href="#">Registrarse</a></li>
            </ul>
        </nav>
        <nav class="nav-bar">
            <ul>
                <li><a href="#">Experiencias</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <div class="imagen"></div>
            <h1>BIG BOX - EXPERIENCIA CUBA</h1>
            <P class="precio">$4000</P>
            <P class="cuotas">o 6 cuotas de $666.66</P>
            <button>AGREGAR AL CARRITO</button>
            </section>
        <section>
            <div class="contenedora">
                <div><h2>Experiencia</h2></div>
                <div><h2>Contenido de la caja</h2></div>
            </div>
            <article class="experiencia">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere quos sunt, suscipit unde quo debitis. Qui eos aliquam sint maiores voluptatum odit sunt, iure quae molestias perferendis? In officiis maxime dolor, facilis ipsum tenetur enim consequuntur a quam laboriosam suscipit doloribus, ea inventore distinctio nam eum quae? Quos provident, dolore sed facilis incidunt expedita facere, tempore enim perspiciatis repellat officiis et accusantium in. Praesentium quisquam odit harum sunt pariatur non quibusdam. Ratione architecto at asperiores nobis rem cumque sapiente odit harum neque, amet quas dignissimos illum dolorem. Dignissimos perferendis illum sint, ea libero quidem tempore, facere cumque maxime sed dicta.</p>
            </article>
            <article class="contenido">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere quos sunt, suscipit unde quo debitis. Qui eos aliquam sint maiores voluptatum odit sunt, iure quae molestias perferendis? In officiis maxime dolor, facilis ipsum tenetur enim consequuntur a quam laboriosam suscipit doloribus, ea inventore distinctio nam eum quae? Quos provident, dolore sed facilis incidunt expedita facere, tempore enim perspiciatis repellat officiis et accusantium in. Praesentium quisquam odit harum sunt pariatur non quibusdam. Ratione architecto at asperiores nobis rem cumque sapiente odit harum neque, amet quas dignissimos illum dolorem. Dignissimos perferendis illum sint, ea libero quidem tempore, facere cumque maxime sed dicta.</p>
            </article>
        </section>
    </main>
    <footer>

    </footer>
</body>
</html>