<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/styles.css" rel="stylesheet">
    <title>Registrate en Home Experience</title>
</head>
<body class="register">
    <h1>Creá tu cuenta</h1>
    <div class="contenedor">
        <div class="portada">
            <div class="dibujo"></div>
            <p>¿No tenés cuenta? Registrate y descubrí Home Experience</p>
        </div>
        <div class="formulario">
            <form action="" method="">
                <input type="text" name="nombre" id="nombre" placeholder="Nombre" required>
                <input type="email" name="email" id="email" placeholder="Email" required>
                <input type="password" name="password" id="password" placeholder="Clave" required>
                <input type="password" name="password2" id="password2" placeholder="Confirma tu clave" required>
                <label>
                    <input type="checkbox">Acepto los términos y políticas de este sitio web
                </label>
                <a href="">¿Ya tenés cuenta? ¡Iniciá sesión!</a>
                <button type="submit">REGISTRATE</button>
            </form>
        </div>
    </div>
</body>
</html>