<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b29d4baab6.js" crossorigin="anonymous"></script>
    <link href="css/styles.css" rel="stylesheet">
    <title>Registrate en Home Experience</title>
</head>
<body class="register">
    <header>
        <a href="#"><h2>HOME EXPERIENCE</h2></a>
        <nav class="nav-bar">
            <ul>
                <li><a href="#">Experiencias</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>

        <nav class="nav-user">
            <ul>
                <li class="user"><a href="#">Iniciar sesión</a></li>
                <li class="user" id="li-register"><a href="#"> Registrarse</a></li>
                <li class="user-loged"><i class="fas fa-user"></i><p>usuario</p> <button><i class="fas fa-chevron-down"></i></button></li>
                <li><a class="shopping-basket" href="#"><i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <a class="shopping-basket-mobile-tablet" href="#"><i class="fas fa-shopping-basket"></i></a>
        <a class="burger-menu" href="#"><i class="fas fa-bars"></i></a>
       

    </header>
    <main>
        <h1>¡Creá tu cuenta!</h1>
        <div class="contenedor">
            <div class="portada">
                <div class="dibujo"></div>
                <p>¿No tenés cuenta? Registrate y descubrí Home Experience</p>
            </div>
            <div class="formulario">
                <form action="" method="">
                    <input class="dato" type="text" name="nombre" id="nombre" placeholder="Nombre" required>
                    <input class="dato" type="email" name="email" id="email" placeholder="Email" required>
                    <input class="dato" type="password" name="password" id="password" placeholder="Clave" required>
                    <input class="dato" type="password" name="password2" id="password2" placeholder="Confirma tu clave" required>
                    <label>
                        <input class="check" type="checkbox">Acepto los términos y políticas de este sitio web
                    </label>
                    <a href="">¿Ya tenés cuenta? ¡Iniciá sesión!</a>
                    <button type="submit">REGISTRATE</button>
                </form>
            </div>
        </div>
    </main>
    <footer>
        <nav class="nav-footer">
            <h5>Seguinos :</h5>
            <ul>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            </ul>
        </nav>
        <div class="news-div">
            <label for="">Newsletter <br> Enterate de las novedades</label>
            
            <input type="email" placeholder="E-mail" name="emailUsuario">
        </div>
        <h4>Copyright © 2021 - Todos los derechos reservados</h4>
    </footer>
</body>
</html>