.about{
    background-color: var(--color-azul-oscuro);
    position: relative;
    height: 175vh;
}

.about .cuerpo .imagen{
    width: 85vw;
    display: block;
    margin: auto;
    margin-top: 3vh;
    border-radius: 15px;
}

.about .texto{
    text-align: center;
}

.about .tituloPrincipal{
    color: var(--color-blanco);
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    margin-right: 16px;
    margin-left: 16px;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.about .tituloSecundario{
    color: var(--color-blanco);
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: 3vh;
    margin-bottom: 5vh;
}

.about .accordion{
    background-color: #262b2e; 
    margin-right: 5vw;
    margin-left: 5vw;
    margin-bottom: 4vh;
    box-shadow: 15px 15px rgba(4, 15, 22, 0.45);
    color: white;
    border: 0.5px solid var(--color-azul-oscuro);
    border-radius: 5px;
 }


.about .accordion-button{
    font-size: 22px;
    display: block;
    margin: auto;
    margin-top: 3vh;
    margin-bottom: 3vh;
    background-color: white;
    color: black;
    border: 1px solid var(--color-azul-oscuro);
    border-radius: 5px;
}

.about .imagenesPerfil{
    width: 180px;
    height: 135px;
    display: block;
    margin: auto;
    border: 2px solid black;
    border-radius: 5px;

}

.about .textoAcordeon{
    margin-top: 3vh;
    margin-bottom: 3vh;
    text-align: center;
}

.about footer a{
    color: white;
}

.about footer {
    position: fixed;
  }




@media (min-width:768px) {
    
    .about{
        height: 180vh;
    }

    .about .cuerpo .imagen{
        width: 55vw;
    }

    .about .tituloPrincipal{
        font-size: 28px;
    }

    .about .texto{
        font-size: 18px;
    }

    .about .tituloSecundario{
        font-size: 24px;
    }
    
    .about .accordion-button{
        font-size: 25px;
    }
        
   .about .imagenesPerfil{
        width: 270px;
        height: 203px;
    }
       
}


@media (min-width:1024px) {

    .about{
        height: 200vh;
    }

    .about .cuerpo .imagen{
        width: 45vw;
    }

    .about .textoAcordeon{
        font-size: 24px;
    }
    
    .about .accordion-button{
        font-size: 28px;
    }
        
}
