/* general */

.experience{
    background-color: var(--color-azul-oscuro);
    position: relative;
    margin: auto;
    height: 120vh;
}

/* header */

.experience header {
    margin-top: -1vh;
}

.experience header h2{
    margin-top: 1vh;
}

/* footer */

.experience footer a{
    color: white;
}

.experience footer{
    position: fixed;
    bottom: 0;
}


/* main */

.experience .d-block{
    width: 200px;
    height: 150px;
}

.experience .carousel-fade{
    width: 100vw;
    margin: auto;
    margin-top: 4vh;
}

.experience .titulo, p{
    margin-left: 16px;
    margin-right: 16px;
    color: var(--color-blanco);
}

.experience .titulo{
    margin-top: 4vh;
    text-align: center;
    font-weight: bold;
    margin-bottom: 4vh;
}

.experience p{
    text-align: center;
}

.experience a{
    color: var(--color-celeste)
}

.carousel-control-prev, .carousel-control-next{
    background-color: var(--color-azul-oscuro)
}

@media (min-width: 500px) {
    .experience .d-block{
        width: 280px;
        height: 210px;
    }

    .experience{
        height: 105vh;
    }
   
}


@media (min-width: 768px) {
    .experience{
        height: 110vh;
    } 
    .experience .d-block{
        width: 360px;
        height: 270px;
    }
}

@media (min-width: 1024px) {
    .experience{
        height: 130vh;
    } 

    .experience .texto{
        font-size: 20px;
    }

    .experience .d-block{
        width: 450px;
        height: 338px;
    }

    .experience header {
        margin-top: -3.5vh;
    }
 
    @media (min-width: 1439px) {
        
        .experience .d-block{
            width: 490px;
            height: 368px;
        }

        .experience .texto{
            font-size: 25px;
        }
    }
}