@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

@import url("./general.css");
@import url("./header.css");
@import url("./footer.css");
@import url("./index.css");
@import url("./productDetail.css");
@import url("./productCart.css");
@import url("./login.css");
@import url("./register.css");
@import url("./productLoad.css");
@import url("./productUpdate.css");
@import url("./cine.css");
@import url("./bar.css");
@import url("./contact.css");
@import url("./about.css");
@import url("./experience.css");
@import url("./adminView.css");
/* @import url("./experience.css"); */